.settings
.project
.classpath
.externalToolBuilders
target
build
dependency-reduced-pom.xml
**/.settings
**/.project
**/.classpath
**/target
**/build
**/.externalToolBuilders
**/*.iml
**/*.iws
**/*.ipr
